################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BurglarAlarmWeb/v16
/BurglarAlarm.Web/bin/Debug/netcoreapp3.1
/BurglarAlarm.Web/obj
