@page "/ShowFrameIndex"

@using System.Threading;

<h1>@Count</h1>

@functions
{
    private int Count { get; set; } = 10;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            new Timer(new TimerCallback(async _ =>
            {
                if (Count <= 0)
                    return;
                Count--;

                await InvokeAsync(this.StateHasChanged);

            }), null, 1000, 1000);
        });
    }
}

@*<img id="imageFrame" style="wid:100%; height:100%" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        setInterval(function () {
            $(document).ready(function () {
                $.ajax({
                    url: "/ManageNotification/ShowFrame",
                    type: "GET",
                    success: function (result) {
                        document.getElementById('imageFrame')
                            .setAttribute(
                                'src', 'data:image/png;base64,' + result
                            );
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });
        }, 500);
    </script>*@